<h1>My Jobs</h1>
<div class="container">
  <table>
    <tbody>
      <% @user_jobs.each do |user_job| %>
        <tr>
          <div class="job">
            <%= link_to user_job.title, user_job.url, :target => "_blank" %>
          </div>
          <div class="company">
            <%= user_job.company %>
          </div>
            <h4>Notes</h4>
            <%= user_job.notes %>
          <% if user_job.description %>
            <h4 class="flip">Description ↓<h4>
            <div class="description-panel"><%= user_job.description.gsub(/\<[^()]*\>/, '') %>... <%= link_to("Click to read more.", user_job.url, :target => "_blank") %></div>
          <% else %>
            <%= link_to("Tell Me More →", user_job.url, :target => "_blank") %>
          <% end %>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_user_job_path(user_job) %>
          <%= link_to user_job_path(user_job), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i> 
          <% end %>
           <hr align="left" width="75%">
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<%= link_to 'Add Your Own Job', new_user_job_path %>
</div>
