<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @user_job.title %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= @user_job.company %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link_to @user_job.url, @user_job.url, :target => "_blank" %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @user_job.description.gsub(/\<[^()]*\>/, '') %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @user_job.notes %>
  </p>

  <p>
    <strong>Applied:</strong>
    <%= @user_job.applied %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= @user_job.archived %>
  </p>
</div>

<%= link_to 'Edit', edit_user_job_path(@user_job) %> |
<%= link_to 'Back', user_jobs_path %>
