<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if @search_term %>
    <div class="company">There are <b><%= @jobs.count %></b> that inlcude <b><%= @search_term %></b> in the title or description
    </div>
    <br>
    <%= button_to "Back to Home", jobs_path, method: :get, class: "reset_search_button" %>
  <% end %>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <div class="job"><%= link_to(job.title, job.url, :target => "_blank") %>
            <%= link_to(user_jobs_path(job_id: job.id, user_id: current_user), method: "post") do %>
              <i class="fa fa-heart" title="Save to my jobs"></i>
            <% end %>
            <i class="fa fa-share" data-micromodal-trigger="modal-1" title="Share this job"></i>
          </div>
          <% job.tags.each do |tag| %>
            <div class="tag"><%= link_to(tag, jobs_path(tag: tag.name), method: :get) %></div>
          <% end %>
          <div class="company"><%= job.company %>
            <% badges = Job.get_badges(job.company) %>
            <% badges.each do |b| %>
              <%= b %>
            <% end %>
          </div>
          <% if job.description %>
            <h4 class="flip">Tell Me More ↓<h4>
            <div class="description-panel"><%= job.description.gsub(/\<[^()]*\>/, '') %>... <%= link_to("Click to read more.", job.url, :target => "_blank") %></div>
          <% else %>
            <%= link_to("Tell Me More →", job.url, :target => "_blank") %>
          <% end %>
           <!-- https://github.com/ghosh/micromodal to share a job via email-->
            <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
              <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                  <header class="modal__header">
                    <h3 class="modal__title" id="modal-1-title">
                      Share Job
                    </h3>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                  </header>
                  <main class="modal__content" id="modal-1-content">
                    <p>
                    Enter an email address below to share this job to a friend.
                    <%= form_tag({controller: "jobs",
                                  action: "email_job",
                                  job_id: job.id},
                                  method: "post") do %>
                    <p><%= text_field_tag(:email_address, nil, placeholder: 'Email Address', :job_id => job.id)%></p>
                    <p><%= text_area(:message, :text, placeholder: 'Optional Message',  size: "30x10") %></p>
                    <p><button class="btn">Send</button></p>
                  <% end %>
                    </p>
                  </main>
                </div>
              </div>
            </div>
          <hr align="left" width="75%">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

