<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if @search_term %>
    <div class="company">There are <b><%= @jobs.count %></b> that inlcude <b><%= @search_term %></b> in the title or description
    </div>
    <br>
    <%= button_to "Back to Home", jobs_path, method: :get, class: "reset_search_button" %>
  <% end %>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <div class="job"><%= link_to(job.title, job.url, :target => "_blank") %>
            <%= link_to(user_jobs_path(job_id: job.id, user_id: current_user), method: "post") do %>
              <i class="fa fa-heart" title="Save to my jobs"></i>
            <% end %>
              <li class="dropdown">
                <i onclick="shareJob(<%=job.id%>)" class="dropbtn">...</i>
                <div id="myDropdown-<%=job.id%>" class="dropdown-content">
                  <%= mail_to("", "Share via Email" ,
                              subject: job.title,
                              body: "I found this job on RemoteGig.io: " + strip_tags(job.title) +
                              "Find out more at " + strip_tags(job.url)) %>
                  <%= render_shareable(:static_link => true,
                                       :buttons => ['twitter'],
                                       :twitter => { :button_caption => 'Share via Twitter',
                                                     :text => "I found this job on RemoteGig.io: " +
                                                               strip_tags(job.title) +
                                                              " Find out more at: ",
                                                     :url => strip_tags(job.url),
                                                     :hashtags => job.tags.map { |tag| tag.to_s }.join(","),
                                                     :tubolinks => true }) %>
                  <a href="#">Share via Facebook</a>
                </div>
              </li>
          </div>
          <% job.tags.each do |tag| %>
            <div class="tag"><%= link_to(tag, jobs_path(tag: tag.name), method: :get) %></div>
          <% end %>
          <div class="company"><%= job.company %>
            <% badges = Job.get_badges(job.company) %>
            <% badges.each do |b| %>
              <%= b %>
            <% end %>
          </div>
          <% if job.description %>
            <h4 class="flip">Tell Me More ↓<h4>
            <div class="description-panel"><%= job.description.gsub(/\<[^()]*\>/, '') %>... <%= link_to("Click to read more.", job.url, :target => "_blank") %></div>
          <% else %>
            <%= link_to("Tell Me More →", job.url, :target => "_blank") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
