<!DOCTYPE html>
<html>
  <head>
    <title>RemoteGig</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="Remote Jobs,Remote Work, Remote Developer Jobs">
    <meta name="description" content="Remote Software Development Jobs Served Daily"/>
    <%= csrf_meta_tags %>
    <!-- facebook OG Tags -->
    <meta property="og:url"                content="hhttps://remotegig.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title"              content="RemoteGig.io" />
    <meta property="og:description"        content="Remote Jobs Served Fresh Daily" />
    <%= tag :meta, property: 'og:image', content: image_url('Eddie_sing_face.png') %>
    <!-- end facebook OG Tags -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://tympanus.net/Development/DialogEffects/js/modernizr.custom.js"></script>
    <script src="https://tympanus.net/Development/DialogEffects/js/classie.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-116039592-1', 'auto');
      </script>
  <% end %>
    <% flash.each do |type, message| %>
        <%= content_tag(:div, message, class: "flash-#{type}") %>
    <% end %>
  </head>
  <div class="user-nav">
      <% if current_user %>
        <ul>
          <li><%= link_to "Home", jobs_path, method: :get  %></li>
          <li><%= link_to "My Jobs", myjobs_path, method: :get  %></li>
          <li><%= link_to "Archived Jobs", get_archived_jobs_user_jobs_path, method: :get  %></li>
           <nav class="logged-in-as">Logged in as: <%= current_user.email %></nav>
        </ul>
      <% end %>
  </div>
    <nav class="nav">
        <div class="burger">
            <div class="burger__patty"></div>
        </div>
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link c-yellow scrolly" style="font-size:24px" href="https://twitter.com/myremotegig" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-red" style="font-size:24px" href="https://github.com/marklocklear/remote_gig" target="_blank"><i class="fa fa-github" title="Github"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-green" style="font-size:24px" href="/jobs.json" target="_blank"><i class="fa fa-rss" title="Feed"></i></a>
            </li>
                <li class="nav__item">
                <a class="nav__link c-green"><i class="fa fa-search" search-dialog="searchdialog" class="searchtrigger" style="font-size:24px" title="Search"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-green" style="font-size:24px" href="/stats" target="_blank"><i class="fa fa-bar-chart" title="Stats"></i></a>
            </li>
            <% if current_user %>
                <li class="nav__item">
                    <a title="Log Out" class="nav__link c-green" style="font-size:24px"
                    <%= link_to '<i class="fa fa-user-times" ></i>'.html_safe, destroy_user_session_path, method: :get %></a>
                </li>
            <% else %>
                <li class="nav__item">
                    <a class="nav__link c-green" style="font-size:24px" href="/users/sign_in"><i class="fa fa-user" title="Login"></i></a>
                </li>
            <% end %>
            <li class="nav__item">
                <a class="nav__link c-red" style="font-size:24px" href="https://www.buymeacoffee.com/874yamw" target="_blank"><i class="fa fa-coffee" title="Buy Me Coffee"></i></a>
            </li>
        </ul>
    </nav>
  <%= render "layouts/search_dialog" %>
  <body>
    <%= yield %>
  </body>
  <a href="#content" class="back-to-top">Top</a>
</html>
