<!DOCTYPE html>
<html>
  <head>
    <title>RemoteGig</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <!-- facebook OG Tags -->
    <meta property="og:url"                content="hhttps://remotegig.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title"              content="RemoteGig.io" />
    <meta property="og:description"        content="Remote Jobs Served Fresh Daily" />
    <%= tag :meta, property: 'og:image', content: image_url('Eddie_sing_face.png') %>
    <!-- end facebook OG Tags -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://tympanus.net/Development/DialogEffects/js/modernizr.custom.js"></script>
    <script src="https://tympanus.net/Development/DialogEffects/js/classie.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-116039592-1', 'auto');
      </script>
  <% end %>
  </head>
    <nav class="nav">
        <div class="burger">
            <div class="burger__patty"></div>
        </div>

        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link c-blue" data-dialog="maildialog" class="mailtrigger" style="font-size:24px"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-yellow scrolly" style="font-size:24px" href="https://twitter.com/myremotegig" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-red" style="font-size:24px" href="https://github.com/marklocklear/remote_gig" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-green" style="font-size:24px" href="/jobs.json" target="_blank"><i class="fa fa-rss" ></i></a>
            </li>
                <li class="nav__item">
                <a class="nav__link c-green"><i class="fa fa-search" search-dialog="searchdialog" class="searchtrigger" style="font-size:24px"></i></a>
            </li>
            <li class="nav__item">
                <a class="nav__link c-green" style="font-size:24px" href="/stats" target="_blank"><i class="fa fa-bar-chart" ></i></a>
            </li>
        </ul>
    </nav>

    <%= render "layouts/mail_dialog" %>
    <%= render "layouts/search_dialog" %>

  <body>
    <%= yield %>
  </body>
  <a href="#content" class="back-to-top">Top</a>
</html>
